{% extends 'base.html' %} {% load static %} {% block content %}

<main id="main">

  {% include 'breadcrumbs.html' %}

  <section class="inner-page">
    <div class="container mb-5" data-aos="fade-up">


      <!--        <ul class="nav nav-tabs row d-flex">-->
      <!--          <li class="nav-item col-3">-->
      <!--            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">-->
      <!--              <i class="bi bi-book"></i>-->
      <!--              <h4 class="d-none d-lg-block">Our History</h4>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--          <li class="nav-item col-3">-->
      <!--            <a class="nav-link show" data-bs-toggle="tab" data-bs-target="#tab-2">-->
      <!--              <i class="bi bi-book"></i>-->
      <!--              <h4 class="d-none d-lg-block">Our History</h4>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--          <li class="nav-item col-3">-->
      <!--            <a class="nav-link show" data-bs-toggle="tab" data-bs-target="#tab-3">-->
      <!--              <i class="bi bi-book"></i>-->
      <!--              <h4 class="d-none d-lg-block">Our History</h4>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        </ul>-->

      <!--        <div class="tab-pane active show" id="tab-1">-->
      <!--          <div class="row">-->
      <!--            <div class="order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">-->
      <h3>The Genesis</h3>
      <div class="order-1 order-lg-2 text-center float-end" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'assets/img/Picture2.png' %}" alt="" class="img-fluid float-end p-3" style="width: 600px;">
      </div>
      <p class="fst-italic">
        It is a story one could conclude is a mere coincidence, that the past and present history leading to the
        dedication of St Francis Catholic Church, Ekenhuan ends up in May. It was May 11, 2002 that the original Church
        building was dedicated. And on May 13, 2023, the remolded Church building was rededicated.
      </p>
      <p>
        May 13, 2023 was exactly 21 years and two days since the first dedication by the Archbishop Emeritus, Most Rev.
        Dr. Patrick Ebosele Ekpu. His successor and Archbishop of the Metropolitan See of Benin City, Most Rev, Dr.
        Augustine Obiora Abubeze, came on May 13, 2023 to rededicate the reconstructed and renovated church building
        with all its "glisten and midas touch".</p>
        <p>
        The reconstructed and renovated Church building took about some 10 years to pull into shape, just as it was in
        putting the old Church build together for dedication. A coincidence too that May 11, 2002 and May 13, 2023 both
        fell on a Saturday. And Catholic Church history presents a twist of divine aura on both dates.
        On the one hand, church history allocates May 11 as the feast day of St. Ignatius of Laconi, probably unknown in
        our clime, whereas, May 13 is the feast of our Lady of Fatima.</p>
        <p> According to the new revised edition of the book, "Saint Companion for Each Day", the "unknown" saint was
        born on 10th December 1701. He was the second of seven children of his parents. He grew up an illiterate and
        delicate boy with frail health.<br>
        At 17, he fell seriously ill and promised his father that if God preserve his life, and he got well, he will
        offer his life to St. Francis of Assisi, the patron saint of our parish.
      </p>
      <p>He did recover but never joined the Franciscan order. Instead, he joined the St. Benedict Friary near
      Calgiary, where on November 10, 1721, he was accepted as a Capuchin lay brother. He lived out the rest of his
      religious life to the ripe old age of 80 years.
      </p>


    </div>

    <div class="container mb-5" data-aos="fade-up">
      <h3>Part B </h3>
      <div class=" order-1 order-lg-2 text-center text-block float-start p-3" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'assets/img/Picture3.png' %}" alt="" class="img-fluid float-start" style="width: 600px;">
      </div>
      <p class="fst-italic">
        The rededication of the church building on May 13 was equally timely, engendering the hope that the prayers
        offered to our Lady of Fatima would rekindle in the hearts of our congregation the words and prayer in the
        parish motto: "Constant and Persevering Recourse to Jesus in the Blessed Sacrament In union with Mary, Queen of
        the Most Holy Rosary".
      </p>
      <p>According to the pioneer Parish priest, late Very Rev. Fr. Prof. Alexander Dumme Nzemeke, "the emergence of St.
        Francis, from the human point of view, was a chance occurrence. It owes its birth to the establishment in 1968
        of a Headmaster's Institute where Rev. Fr. Flanagan was in charge, and accordingly began to hold Sunday services
        for the Catholic students of the institution. </p>
      <p>From this stage, it eventually was taken over by students of the University of Benin, who after the
        establishment of the institution in Ekenhuan campus in 1975, c redominate amongst the worshippers. <br> But no
        one ever dreamt something of the size and stature of St. Francis of today would emerge; whatever structure was
        being set was considered to be temporary everything was intended to be only before the movement of the
        university to the main campus at Ugbowo.
      </p> <p>By 1978, preparations were under way for the building of the Church there even though the student body was to
      move there in November, 1979. Meanwhile, however, the situation at the Ekenhuan end had begun to acquire new dimensions. The worshipping
      community on Sundays gradually began to feature people living in the immediate vicinity of the Ekenhuan campus
      that by 1980, the vast majority of worshippers consisted of individuals living outside the walls of the campus.
      </p><p>
        The spiritual care of the worshippers at Ekenhuan campus was in the hands of Rev. Fr. Nzemeke, Rev. Fr. B. W. Dundon, Rev. Fr. H. S.
        Onwuneme and Rev. Fr. T. E. Uwaifo. It was mostly a Sunday, Sunday affair, for there were no masses on weekdays. But in
        1987 when the Marian year was being celebrated it was felt that if regular attendance at Mass was required of
        the catholic faithful as befitting of this celebration, something could be done for the Ekenhuan campus
        worhippers in this respect. </p>
        <p>It appeared difficult at the time, but I tried out three morning masses within the
        week, namely, Mondays, Wednesdays and Fridays and the result was very encouraging.
        The Marian Year was concluded on August 15, 1988, and it appeared that holding daily Masses could be attempted.
        It was tried and we had to continue.
      </p>
      <p>Mrs. M. A. Okei, wrote 21 years ago, that the foundation stone of the original Church building was laid in 1991
        after the dedication of St. Albert, Ugbowo in 1990. The parish was already named St. Francis Catholic Church on October 4th 1991.
      </p>
    </div>
    <!--        </div>-->
    <!--      </div>-->


    <!--        <div class="tab-pane active show" id="tab-3">-->
    <!--          <div class="row">-->
    <!--            <div class="order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">-->
    <div class="container mb-5" data-aos="fade-up">
      <h3>Conclusion</h3>
      <div class="order-1 order-lg-2 text-center float-end" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'assets/img/front.jpg' %}" alt="" class="img-fluid float-end p-3" style="width: 600px;">
      </div>
      <p class="fst-italic">
        Part of the church building collapsed in May 1992, and that delayed every effort but work resumed in September
        1993. Since its dedication in 2002, along with the Rectory, the Church boasts of a storey building housing two Church
        halls.</p><p>
        The shape of the original church building was semi-circular, with a low-lying roof. In its new look, the shape
        remains semi-circular but with a raised roof, leading to a redesign of the main Church auditorium complete with
        a gallery of the same shape to accommodate more worshippers.</p>
        <p>The central aisle leads to a new and bigger altar, bedecked with motifs. The statues of the Blessed Virgin Mary and of St. Francis of Assisi, adorn the altar with
        the pictures of eight Archangels seemingly watching from above the altar.
        <p> The onerous task of renovating and reconstructing the church building began with the arrival of the Msgr.
        Benedict Etafor. He replaced the pioneering parish priest, Fr. Nzemeke, who retired in 2013 after 50 years in
        the priesthood.</p>
        <p>Msgr. Etafor has since returned to his diocese of Auchi after several years in the saddle to
        recreate the St. Francis new-look, bogged by a whole year of COVID-19 pandemic, as well as the paucity of funds.
        He left behind the young, energetic Fr. Alex Ejiofor, his assistant, who held sway, and, until the arrival of
        Very Rev. Fr. Andrew Obinyan, as the new Parish Priest.
      </p>
      <p>Fr. Andrew Obinyan came in a "blaze" late 2022, and through his Midas' touch, afflicted the entire church
      building with glisten and awesome religious motifs of various shapes and sizes in and on the surrounding walls.
      The rest is history. Now, we can behold the beauty, the awesomeness, looming large in our faces, its walls
      anointed once again by his Grace, Archbishop Dr. Augustine Obiora Akubeze, as the congregation sang in unison: "We
      love the place of the Lord."
      </p>
      <p>"Our story, past and present" will not be complete without talking about our priest-sons and daughters in
        religious life. Before the first dedication in 2002, the Very Rev. Fr. David Ogun, was ordained a Jesuit priest.
        He is the son of the late Pa Ogun, who died at over 100 years recently.
        Thereafter, there was a fall in vocation among our children. The surge however was rekindled after dedication,
        with many of our children entering the religious orders.
      </p>
      <p>The first of the lot was Rev. Bro. Dennis Omem. He is of the Congregation of Brothers of St. Stephen in
        Onitsha, Anambra State. He finally professed on August 28, 2011. He currently holds the office of the Secretary
        General of his Congregation.</p>
        <p>
        Rev. Sister Mary-Ursula Otaiho Agge was next. She took her final vows in with the Medical Missionaries of Mary,
        she is currently at her duty post in Malawi. We’ve since had another daughter who joined religious life in the
        person of Sr. Margaret Tejiri, who made simple profession with the Sisters of Our Lady of Apostles (OLA).</p>
        <p>Rev. Fr. Joseph Osahon Osunde was ordained next. Ordained as Dominican Priest on July 18, 2015, and then Fr.
        Augustine Obodo Obiosa, who was followed by Fr. Christopher Orukpe Imoisili {2022} both of them also Dominicans.
        Fr. Osunde currently a works at St. Paul's Catholic Church, Portland in the Diocese of Maine, USA, while Obodo
        is stationed at St. Albert the Great Catholic Church, Obosi, Anambra State, Fr. Imoisili, the youngest of the
        three Dominicans is with the Dominican Community at Igue Edaken, Ekiadolor.
      </p>
      <p>The last on this growing list is Rev. Fr. Ifeanyichukwu Maximillian Omem, the kid-brother of Dennis. He was
        ordained in the Philippines on July 12, 2019 in the Order of Augustinian Recollects. He Is currently in Rome for
        further studies.
        As we congratulate these priest-sons and daughter, let's pray for those of them in formation and for more
        vocation in our children.</p>
        <p>By Mike Osunde.</p>
      
      <!--            </div>-->
      <!--            -->
      <!--          </div>-->
      <!--        </div>-->
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}