{% extends 'base.html' %} {% load static %} {% block content %}

<main id="main">

  {% include 'breadcrumbs.html' %}

  <section class="inner-page">
    {% if page == 'Sacraments' %}
    <div class="table-responsive" data-aos="fade-up">
      
      <table class="table table-bordered table-striped table-hover table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">L.B. Number</th>
            <th scope="col">Baptismal Name</th>
            <th scope="col">Other Names</th>
            <th scope="col">Surname</th>
            <th scope="col">Baptism</th>
            <th scope="col">1st Holy Communion</th>
            <th scope="col">Confirmation</th>
            <th scope="col">Marriage</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          {% for item in sacrament_register %}

          <tr>
            <td>{{ item.lb_num }}</td>
            <td>{{ item.baptismal_name }}</td>
            <td>{{ item.other_names }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.date_of_baptism|date:"M d, Y" }}</td>
            <td>{{ item.date_of_communion|date:"M d, Y" }}</td>
            <td>{{ item.date_of_confirmation|date:"M d, Y" }}</td>
            <td>{{ item.date_of_marriage|date:"M d, Y" }}</td>
            <td><a href="{% url 'sacrament-detail' item.lb_num %}"> <i class="bi bi-box-arrow-in-up-right"></i> </a></td>
          </tr>

          {% endfor %}
          </tbody>
      </table>

      
    </div>
    {% else %}

     <!-- ======= Blog Single Section ======= -->
     <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                {% if group == 'cwo' %}
                <img src="{% static 'assets/img/cwo.jpg' %}" alt="" class="img-fluid">
                {% elif group == 'cmo' %}
                <img src="{% static 'assets/img/cmo.jpg' %}" alt="" class="img-fluid">
                {% else %}
                <img src="{% static 'assets/img/cyon.jpg' %}" alt="" class="img-fluid">
                {% endif %}
              </div>

              <h2 class="entry-title">
                {{ page }} St Francis Parish
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-book"></i> <a href="#">members (730) </a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                  Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                </p>

                <p>
                  Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
                </p>

                <p>
                  Sed quo laboriosam qui architecto. Occaecati repellendus omnis dicta inventore tempore provident voluptas mollitia aliquid. Id repellendus quia. Asperiores nihil magni dicta est suscipit perspiciatis. Voluptate ex rerum assumenda dolores nihil quaerat.
                  Dolor porro tempora et quibusdam voluptas. Beatae aut at ad qui tempore corrupti velit quisquam rerum. Omnis dolorum exercitationem harum qui qui blanditiis neque.
                  Iusto autem itaque. Repudiandae hic quae aspernatur ea neque qui. Architecto voluptatem magni. Vel magnam quod et tempora deleniti error rerum nihil tempora.
                </p>

                <h3>Et quae iure vel ut odit alias.</h3>
                <p>
                  Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                  Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                  Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                </p>
              </div>
            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
              <img src="{% static 'assets/img/st-francis-icon-2.jpg' %}" class="rounded-circle float-left" alt="">
              <div>
                <h4>{{ page }} St Francis Parish</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="bi bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>
              </div>
            </div><!-- End blog author bio -->

            

          </div><!-- End blog entries list -->

          <div class="col-lg-6">

            <div class="sidebar">

              <div class="reply-form">
                <h4>Registration Form</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form method="post" class="container mt-5">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Register</button>
                  <p class="p-2 m-1">Already have an account? <a href=""><span>Login</span></a></p>
                </form>
              </div>
              </div><!-- End sidebar tags-->
          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->
    
    {% endif %}
  </section>

</main><!-- End #main -->

{% endblock %}